@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span>UTC Now: @currentTime</span>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>



@code {
    private string currentTime = DateTime.UtcNow.ToString("HH:mm tt");

    private System.Timers.Timer? secondsTimer;

    protected override void OnInitialized()
    {
        //one second interval
        secondsTimer = new System.Timers.Timer(1000);
        secondsTimer.Enabled = true;
        secondsTimer.AutoReset = true;
        secondsTimer.Elapsed += (sender, e) => UpdateTime();
    }

    private void UpdateTime()
    {
        var newTime = DateTime.UtcNow.ToString("HH:mm tt");
        if(newTime != currentTime)
        {
            currentTime = newTime;
            InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose()
    {
        secondsTimer?.Dispose();
    }
}