<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DynamicFlightStorageUI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/experiments">
                <span class="bi bi-database" aria-hidden="true"></span> Experiments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/manual">
                <span class="bi bi-plus-square" aria-hidden="true"></span> Manual Publishing
            </NavLink>
        </div>
    </nav>
</div>

