<EditForm Model="weather" OnValidSubmit="(e) => OnWeatherCreated.InvokeAsync(weather)">
    <div class="row mb-3">
        <label for="inputAirport" class="col-sm-2 col-form-label">Airport</label>
        <div class="col-sm-10">
            <InputText @bind-Value="weather.Airport"  class="form-control" id="inputAirport" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="weatherLevel" class="col-sm-2 col-form-label">WeatherLevel</label>
        <div class="col-sm-10">
            <InputSelect @bind-Value="weather.WeatherLevel" class="form-select" id="weatherLevel">
                @foreach(var category in Enum.GetValues<WeatherCategory>()){
                    <option value="@category">@category</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="row mb-3">
        <label for="validFrom" class="col-sm-2 col-form-label">Valid from</label>
        <div class="col-sm-10">
            <InputDate @bind-Value="weather.ValidFrom" Type="InputDateType.DateTimeLocal" class="form-control" id="validFrom" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="validTo" class="col-sm-2 col-form-label">Valid to</label>
        <div class="col-sm-10">
            <InputDate @bind-Value="weather.ValidTo" Type="InputDateType.DateTimeLocal" class="form-control" id="validTo" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
    <button type="button" class="btn btn-warning" @onclick="ResetForm">Reset form</button>
</EditForm>
@code {
    private Weather weather = new Weather()
    {
        Airport = "EKCH",
        ValidFrom = DateTime.UtcNow,
        ValidTo = DateTime.UtcNow.AddHours(1)
    };

    [Parameter]
    public EventCallback<Weather> OnWeatherCreated { get; set; }

    private void ResetForm()
    {
        weather = new Weather()
        {
            Airport = "EKCH",
            ValidFrom = DateTime.UtcNow,
            ValidTo = DateTime.UtcNow.AddHours(1)
        };
    }
}
